.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-r{
    max-width: $max-width;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    @extend .row;
}
.container-c{
    max-width: $max-width;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    @extend .column;
}