@import '../utils/mixins';

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container{
    position: relative;
    max-width: $max-width;
    padding: 0 15px;
    margin: 0 auto;
}


.title{
    font-family: $main-ff;
    font-weight: 700;
    font-size: 5.6rem;
    line-height: 6.4rem;
    color: $black-c;
}

.subtitle{
    font-family: $main-ff;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    color: $black-c;

    margin-bottom: 1.8rem;
}

.small-title{
    font-family: $sec-ff;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $black-c;
}

.description{
    font-family: $sec-ff;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $black-c;
    mix-blend-mode: normal;
    opacity: 0.5;
}

// input{
//     display: none;
// }