.menu{
    z-index: $z-index-menu;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 15px;
    cursor: pointer;
    
    @media screen and (max-width: $tablet){
        display: flex;
        position: fixed;
        right: 15px;
    }
    &.open .menu__burger{
        transform: translateX(-50px);
        background: transparent;
        &::before{
            transform: rotate(45deg) translate(35px, -35px);
        }
        &::after{
            transform: rotate(-45deg) translate(35px, 35px);
        }
    }
    &__burger{
        width: 100%;
        height: 3px;
        background: $violet-c;

        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background: $violet-c;
        }
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background: $violet-c;
        }
        &::before{
            transform: translateY(6px);
        }
        &::after{
            transform: translateY(-6px);
        }
    }
}

