section.gallery
    .container
        .gallery__title
            .gallery__item
                .subtitle Nisi ut aliquid
                .title Ullam corporis suscipit
        
            .description(class="gallery-description") Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        .gallery__box
            .gallery__select
                each item in gallery.titles
                    +galleryTitles(item)
                    
            .gallery__cards
                each card in gallery.cards
                    +galleryCard(card.src, card.title, card.desc)
        +button("All works", "violet")

