header.header 
    .container-r
        h3.header__logo RELAP
        ul.header__nav 
            each link in menu
                +ul(link)
        +button("Contact Us")
.header-mobile 
    h3.header__logo RELAP
    .menu
        .menu__burger
    .hidden-menu
        ul.header__nav-mobile
            each link in menu
                +hiddenUl(link)