section.hero
    .container-r
        .hero__content
            h1.hero__title Omnis Voluptas
            p.hero__prg 
                |Temporibus autem quibusdam 
                |et aut officiis debitis aut rerum
                |necessitatibus saepe eveniet ut 
                |et voluptates repudiandae sint 
                |et molestiae non recusandae.
            +button("Explore", "yellow")
        img.hero__img(src="./assets/images/svg/laptop.svg")
        //- .socials 
        //-     +svg("laptop")
        