section.hero
    .container
        .hero__content
            h1.hero__title Omnis Voluptas
            p.hero__prg 
                |Temporibus autem quibusdam 
                |et aut officiis debitis aut rerum
                |necessitatibus saepe eveniet ut 
                |et voluptates repudiandae sint 
                |et molestiae non recusandae.
            +button("Explore", "yellow")
        .hero__img
            img(src="./assets/images/laptop.png")
            .hero__socials
                a.socials-item(href="#" target="_blank")
                    include ../icons/fb
                a.socials-item(href="#" target="_blank") 
                    include ../icons/tw
                a.socials-item(href="#" target="_blank")
                    include ../icons/inst
        
    