section.reviews
    .container
        .reviews__title
            .title Officis debitis
            .description(class="reviews-decription") Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repella.
        .reviews__cards 
            each card in reviews.cards
                +reviewsCard(card.img, card.text, card.name)
        .reviews__clients
            each logo in reviews.logos
                +reviewsClients(logo)