section.team 
    .container
        +oval( 'tiny-team')
        +oval('small-team')
        +oval('medium-team')
        img.team__img(src='../assets/images/team.png')
        .team__content 
            .subtitle(class='team-subtitle') Repellendus
            .title(class='team-title') Temporibus quibusdam
            .description(class='team-description') Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.
            +button('Our team', 'yellow')