section.video 
    .container-r 
        .video-content
            h5.subTitle=accord.subtitle
            h2.title=accord.title
            .accord
                each item in accord.accordItems
                    +accordItems(item.title, item.description)
        .video-player
            img(src="./assets/images/video.png").video-player__video
            img(src='./assets/images/svg/btn-play.svg').video-player__play