section.video
    .container
        .video-content
            h5.subtitle=accord.subtitle
            h2.title(class="title-video")=accord.title
            .accord
                each item in accord.accordItems
                    +accordItems(item.title, item.description)
        .video__bg    
            img.video__video(src='./assets/images/Bitmapabs-img.png')
        
            //- .video__play
            //-     include ../icons/play