@import '../components/burger.scss';

.header{
    @extend .row;
    padding: 3rem 0;
    background: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: $z-index-header;
    &__logo{
        font-family: $main-ff;
        font-weight: 700;
        font-size: 4rem;
        line-height: 4.8rem;  
        color: $white-c;
        &:hover{
            color: $violet-c;
            cursor: pointer;
        }
        @media screen and (max-width: $tablet){
            color: $black-c;
            font-size: 2.4rem;
            line-height: 3.2rem;
        }
    }
    &__nav{
        @extend .row;
        margin-left: 54px;
        margin-top: 7px;
        &-mobile{
            @extend .column;
        }
        &__link{
            margin-right: 3rem;
                &:last-child{
                    margin-right: 0;
                }
            .link{
                font-family: $sec-ff;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 2.4rem;
                color: $white-c;
                text-transform: capitalize;
                &:hover{
                    color: $violet-c;
                }
                
            }
            &-mobile{
                font-family: $sec-ff;
                font-weight: 600;
                font-size: 3rem;
                line-height: 6rem;
                text-transform: capitalize;
                
                .link{
                    color: $white-c;

                    &:hover{
                        color: $violet-c;
                    }
                }
            }
        }
    }
    &-mobile{
        display: none;
        padding: 1.6rem 1.5rem;
        @extend .row;
        @media screen and (max-width: $tablet){
            display: flex;
        }
        
    }
    @media screen and (max-width: $tablet){
        display: none;
    }
    
}

