@import '../components/burger.scss';

.header{
    @extend .row;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: none;
    position: absolute;
    left: 0; right: 0;
    z-index: $z-index-header;

    @media screen and (max-width: $tablet){
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        background: $white-c;
    }

    .logo{
        font-family: $main-ff;
        font-weight: 700;
        font-size: 4rem;
        line-height: 4.8rem;  
        color: $white-c;
        &:hover{
            color: $violet-c;
            cursor: pointer;
        }
        @media screen and (max-width: $tablet){
            color: $black-c;
            font-size: 2.4rem;
            line-height: 3.2rem;
        }
    }

    .nav{
        @extend .row;
        margin-left: 54px;
        margin-top: 7px;

        @media screen and (max-width: $tablet){
            position: fixed;
            top: 0; left: -100%;
            flex-direction: column;
            justify-content: space-around;
            background: $yellow-c;
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 1rem 0;
        }

        &__item{
            margin-right: 3rem;

            @media screen and (max-width: $tablet){
                margin: 0;
            }
            &:last-child{
                margin-right: 0;
            }
        }

        &__link{
            font-family: $sec-ff;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: $white-c;
            text-transform: capitalize;
            @media screen and (max-width: $tablet){
                font-size: 4rem;    
            }
            &:hover{
                color: $violet-c;
            }
        }
    }
}

.nav.open{
    top: 0; left: 0;
}