.reviews .container{
    @extend .column;
}

.reviews{
    padding-top: 7rem;

    &__title{
        text-align: center;

        .title {
            margin-bottom: 2.3rem;
        }
    }
    &-description{
        @include max-width(57rem);
        font-weight: 600;
        opacity: 1;
    }
    &__cards{
        @extend .row;
        flex-wrap: wrap;
        @include max-width(1170px);
        margin: 6.4rem 0 9.6rem 0;

        @media screen and (max-width: $s-laptop){
            flex-direction: column;
        }
    }
    &__clients{
        @extend .row;
        @include max-width(1130px);
        flex-wrap: wrap;
        @media screen and (max-width: $s-laptop){
            max-width: 460px;
        }
        @media screen and (max-width: $tablet){
            max-width: 305px;
        }

        .logo{
            margin-bottom: 2rem;
        }
    }

}

.reviews-card{
    padding: 3.2rem 3.2rem 4.2rem 3.2rem;
    @extend .column;
    align-items: flex-start;
    @include max-width(30.6rem);
    box-shadow: $box-shadow;

    @media screen and (max-width: $s-laptop){
        margin-bottom: 2rem;
    }

    &:hover{
        transform: scale(1.01)
    }
    &__decription{
        margin: 14px 0 23px 0;
    }
}