.video .container{
    @extend .row;
    @media screen and (max-width: $s-laptop){
        flex-direction: column;
    }
}
.video{
    padding-top: 4.6rem;
    margin-bottom: 18rem;
    position: relative;

    .title-video{
        @include max-width(49.8rem);
        margin-bottom: 4.4rem;
    }
    .accord{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease;

        .uptitle-accord{
            position: relative;
            @include max-width(16rem);
            overflow: hidden;
            margin: 1.1rem 0;
            transition: all 0.5s ease;
            cursor: pointer;
            &::before {
                z-index: -1;
                position: absolute;
                left: 100%;
                top: 14px;
                content: " ";
                width: 100%;
                height: 8px;
                background-color: $violet-c;
                transition: all 0.5s ease;
            }
            &::after {
                position: absolute;
                top: 7px;
                margin-left: 10px;
                content: " ";
                width: 6px;
                height: 6px;
                border-left: 2px solid $black-c;
                border-bottom: 2px solid $black-c;
                transform: rotate(-45deg);
                transition: all 0.5s ease;
            }
        }
    
        .description-accord{
            position: relative;
            @include max-width(47rem);
            margin-bottom: 0;
            right: 100%;
            height: 0;
            
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    
    
    &__box{
        background: $main-gradient;
        position: relative;
        left: 8.7%; top: 8.4rem;

        @media screen and (max-width: $s-laptop){
            left: 0;
        }
    }
    &__video{
        @include pos-t-l(relative, -32px, 32px);
        width: 100%; height: 100%;

        @media screen and (max-width: $s-laptop){
            top: -16px; left: 16px;
        }

        &::before{
            content: " ";
            background: $main-gradient;
            width: 100%; height: 100%;
        }

    }
    &__play{
        @include pos-t-l(absolute, 35%, -6%);
        &:hover{
            transform: scale(1.1);
            cursor: pointer;
        }
        @media screen and (max-width: $s-laptop){
            left: 40%;
        }
        @media screen and (max-width: $mobile){
            left: 35%; top: 30%;
        }
    }
}



.uptitle.uptitle-accord.accord-is-open{
    &::before {
        z-index: -1;
        position: absolute;
        left: 0%;
        top: 14px;
        content: " ";
        width: 160px;
        height: 8px;
        background-color: $violet-c;
    }
    &::after {
        position: absolute;
        top: 7px;
        margin-left: 10px;
        content: " ";
        width: 6px;
        height: 6px;
        border-left: 2px solid $black-c;
        border-bottom: 2px solid $black-c;
        transform: rotate(135deg)
    }
}

.description.description-accord.accord-is-open{
    margin-bottom: 2.6rem;
    right: 0%;
    height: 100%;
}

